@charset "UTF-8";

#linkki {
	text-decoration: none;
	color: darkblue;
}

h1, body {
	font-family: "Arial";
}

h1 {
	color: darkblue;
}

body {
	color: blue;
	text-align: center;
	background: lightyellow;
}

.oikealle {
	text-align: right;
	
}

.poista {
	color: red;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;	
	background: white;
}

td {
	color: black;
}

td1 {
	color: darkblue;
}

table, th {
	border: 2px solid darkblue;
	background: lightcyan;
	margin-left: auto;
	margin-right: auto;
	
}
th {
	background: lightblue;
}
td {
	border: 1px solid darkblue;
}


